.inner{
  padding: 0 30px;
  height: 100%;
}

.question__hedding{
  color: brown;
  font-size: 50px;
}

.question__name{
  font-size: 20px;
  
}

.question__name{
  display: flex;
}

.detail__names{
  
  color: brown;
}

.question__detail{
  display: flex;
}

.detail__message{
  padding-left: 20px;
  color: brown;
}

.question__detail2{
  text-align: right;
  color: burlywood;
}

.question__wrapper{
  border-bottom: burlywood 2px solid;
}

.question__name{
  display: flex;
}

.user-image{
  border-radius: 50%;
  object-fit:cover;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 20px;
}

.question__body{
  width: 100%;
}

.edit_show{
  text-align: right;
  color: cyan;
}

.delete{
  color: crimson;
}

.answer_btn{
  color: black;
  font-size: 25px;
  border: orange 2px solid;
  margin-top: 10px;
  background-color: orange;
  border-radius: 10px;
}

.user-image2{
  border-radius: 50%;
  object-fit:cover;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

.answer-wrpper{
  margin-top: 20px;
}



.answer_center{
  text-align: center;
}

.answer_center2{
  font-size: 25px;
  color: white;
  background-color: coral;
  border-radius: 10px;
  padding: 10px;
}


.answer_info{
  border: tomato 2px solid;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.answer_date_right{
  margin-right: 0px;
  margin-left: auto;
  color: burlywood;
}

.brown{
  color: brown;
}

.best_time{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.linked{
  background-color: goldenrod;
  color: aliceblue;
  padding: 5px;
  border-radius: 20px;
}

.best_answerd{
  background-color: goldenrod;
  color: aliceblue;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

.answer_btn2{
  text-align: left;
}

.question-text{
  width: 100%;
}